div.amshopby-column {
    float: left;
    width: 105px;
    overflow: hidden;
}

select.amshopby-select {
    width:170px;
}

.amshopby-logo{
padding: 0pt 10px 10px 0pt; float: left;
}

.amshopby-featured {
    padding: 5px 5px 5px 5px; 
}

.amshopby-link{
    float:left;
    padding-left:5px; 
    padding-top:5px;
}

.amshopby-clearer {
	display:block; 
	clear:both; 
	overflow: hidden;
}
div.block-layered-nav dd a {padding:0px 5px 0px 0px; display:block; float: left;}  
div.block-layered-nav dd a.amshopby-attr, div.block-layered-nav dd a.amshopby-attr:hover {padding-left:15px; background-image:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left center;}
div.block-layered-nav dd a.amshopby-attr::before, div.block-layered-nav dd a.amshopby-attr-selected::before {border-style: none !important;}
div.block-layered-nav dd a.amshopby-attr-selected {font-weight: bold; padding-left:15px; background-image:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left center;}
div.block-layered-nav dd a.amshopby-attr-inactive {pointer-events: none; color: #666666}
div.block-layered-nav dd a img {/* padding: 0px 4px 5px;*/ float:left;}

div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}
div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}

div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;
color:black; text-decoration: none; cursor:text;}

div.block-layered-nav li.amshopby-cat-multi a {
    padding-left:15px;
    background-image:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left center;
}

div.block-layered-nav li.amshopby-cat-multiselected a {
    font-weight: bold;
    background-image:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left center;
}

div.block-layered-nav dd li span.amshopby-plusminus {float:left;
display:block; width:15px; height:15px; cursor:pointer;
background:transparent url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-plus.gif)  no-repeat;}
div.block-layered-nav dd li span.minus {background:transparent
url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-minus.gif) no-repeat;}
div.block-layered-nav dd li:after {display:block; content:".";
clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }



div.block-layered-nav.amshopby-collapse-enabled dl dt {
     cursor:pointer;
     padding-left:15px;
     background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-expanded.gif) center left no-repeat;
}
div.block-layered-nav.amshopby-collapse-enabled dl dt::after {
    border-style: none !important;
}
div.block-layered-nav.amshopby-collapse-enabled dl dt.amshopby-collapsed {background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-collapsed.gif) center left no-repeat;}
.main .col-left div.block-layered-nav.amshopby-collapse-enabled dl dt{background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-expanded.gif) center left no-repeat;}
.main .col-left div.block-layered-nav.amshopby-collapse-enabled dl dt.amshopby-collapsed{background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-collapsed.gif) center left no-repeat;}

.main .col-main div.block-layered-nav.amshopby-collapse-enabled .toggle-content dl dt{background:none;}
.main .col-main div.block-layered-nav.amshopby-collapse-enabled .toggle-content dl dt.amshopby-collapsed{background:none}

.main .col-main div.block-layered-nav.amshopby-collapse-enabled .toggle-content dl dd .no-display {
    display: block!important;
}

div.block-layered-nav div.amshopby-slider {
	 position:relative; margin:10px 4px 5px 4px; z-index:9; height:18px;  background: url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-slider-bg.gif) repeat-x 0 50%; cursor:pointer;
}
div.block-layered-nav div.amshopby-slider div.handle {margin-left:-4px; width:8px; top:3px; height:14px; background: transparent url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move; z-index: 2;}

/*
 * Slider labels
 */
.amshopby-slider-price {
	color: #798794;
}
.amshopby-slider-price-from {
	float: left;
    
}
.amshopby-slider-price-to {
	float: right;
}

.amshopby-slider-handle-right {
	position: absolute;
	top: 14px;
	right: 0px;
}

.amshopby-slider-handle-left {
	position: absolute;
	top: 14px;
	left: 0px;
}

.amshopby-tooltip {
    padding:2px 5px;
    background:#FEC;
    border:1px solid #FAA819;
    color:#1F5070;
    text-align:left;
    width:200px;
    position:absolute;
}

.amshopby-slider-price-range 
{
	text-align: center;
	font-size: 0.9em;
}

.amshopby-tooltip-img {
    cursor:help;
    display: inline;
}

div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {
    position: relative;
}
div.amshopby-overlay {
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}
div.amshopby-overlay img {
    top: 100px;
    left: 45%;
    display: block;
    position: absolute;
}

div.amshopby-overlay div {
    margin: 0 auto;
    display: block;
	width: 300px;
	height: 200px;
	background:  url('https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-overlay.gif') 50% 50% no-repeat;
}

/*
 * Advanced Categories
 */
.amshopby-advanced li {
	clear: both;
}
.amshopby-advanced li.level1 {
	padding-left: 20px;
}
.amshopby-advanced li.level2 {
	padding-left: 30px;
}
.amshopby-advanced li.level3 {
	padding-left: 40px;
}
.amshopby-advanced li.level4 {
	padding-left: 50px;
}


.amshopby-advanced li.active > a {
	font-weight: bold;
}

/*
 * Slider Bar
 */
.amshopby-slider-bar {
	position:absolute; 
	background: #999; 
	height: 6px; 
	top: 6px; 
	z-index: 1;  
}

/*
 * Subcategories block
 */
.amshopby-subcategory-image {
	overflow: auto; 
}

.btn-remove-inline { background-image: url('https://www.thecleanbedroom.com/skin/frontend/base/default/images/am_btn_remove.gif'); background-repeat: no-repeat; width:13px; height:12px; margin-left: 4px; }
.btn-remove-inline:hover { /* background-position: center bottom; */ }
.amshopby-hightlighted { background: yellow;}

.btn-remove-inline img {display: inline;}

div.block-layered-nav div.amshopby-slider div.handle.active { z-index: 3; }

.amshopby-slider-ui { background: url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-slider-bg.gif) repeat-x 0 50%; margin: 10px .4em; }
.amshopby-slider-ui .ui-slider-handle { background-color: #f18200; border: 1px solid #de5400; box-sizing: border-box; outline: none; }
.amshopby-slider-ui .ui-slider-range { background-color: #999999; }

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.ui-slider { cursor: pointer; position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 0.8em; height: 1.2em; cursor: pointer; -ms-touch-action: none; touch-action: none; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.2em; margin-left: -.4em; }
.ui-slider-horizontal .ui-slider-range { top: 0.2em; height: 8px; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.amshopby-narrow-by-list table td { vertical-align: top; }

input[name^="amshopby"][id$="from"].input-text, input[name^="amshopby"][id$="to"].input-text{
    width: auto;
}

.amshopby-item-top{
    max-width: 225px;
    min-width: 180px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.amshopby-filters-top .block-content ol{
    max-width: 250px;
}

.amshopby-item-top div.amshopby-column {
    width: auto;
}

.no-display-current, .no-display{
    display: none;
}

.current .no-display-current, dd.current td.no-display{
    display: block;
}

@media only screen and (max-width: 770px) {
    dl#narrow-by-list,
    dl#narrow-by-list2 {
        padding: 0px;
    }
}
/**
 * MageWorx
 * Search Suite
 *
 * @category   MageWorx
 * @package    MageWorx_SearchSuite
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
#search_mini_form .searchsuite-form-search{
    background-image: none;
    width: auto;
    height: auto;
}
#search_mini_form .searchsuite-form-search,#searchsuite_attr_dropdown,#searchsuite_cat_dropdown{
    border: 0;
    background-color: #eee;
    padding: 0;
}
.searchsuite-input,.searchsuite-select,.searchsuite-submit{
    border: 1px solid #ccc;
    background-color: #fff;
    float: left;
    position: relative;
}
.searchsuite-input,.searchsuite-select,.searchsuite-submit,.searchsuite-select div,.searchsuite-form-search #search{
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.searchsuite-input,.searchsuite-select,.searchsuite-submit,.searchsuite-select div,.searchsuite-form-search #search,.reset-button{
    height: 27px;
    vertical-align: middle;
    line-height: 27px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.searchsuite-input,.searchsuite-form-search #search{
    width: 200px;
    border-right: 0;
    color: #444;
    padding-left: 5px;
    padding-right: 10px;
}
.searchsuite-form-search .searchsuite-default-text{
    color: #ccc;
}
.searchsuite-select{
    border-left: 0;
    border-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: #777;
    font: 12px/1.55 Arial, Helvetica, sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.searchsuite-submit{
    width: 65px;
    border-color: #999;
    color: #fff;
    box-shadow: 0 1px 5px rgb(240, 99, 0) inset;
    -moz-box-shadow: 0 1px 5px rgb(240, 99, 0) inset;
    -webkit-box-shadow: 0 1px 5px rgb(240, 99, 0) inset;
    -o-box-shadow: 0 1px 5px rgb(240, 99, 0) inset;
    background: rgb(240, 99, 0);
    background: -moz-linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    background: -webkit-linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    background: -o-linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    background: -ms-linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    background: linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    font-size: 13px;
}
.searchsuite-submit:hover{
    background: -moz-linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
    background: -webkit-linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
    background: -o-linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
    background: -ms-linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
    background: linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
}
.searchsuite-submit:after{
    clear: both;
}
.searchsuite-change,.searchsuite-current-value {
    line-height: 27px;
    vertical-align: middle;
}
.searchsuite-change{
    font-size: 7px; 
    padding: 2px;
}
.searchsuite-dropdown li:hover{

}
.searchsuite-dropdown li a, .searchsuite-change{
    color: #777;
    text-decoration: none;
    cursor: pointer;
}
.searchsuite-current-value{
    border-left: 1px #ccc dotted;
    padding-left: 5px;
}
*+html #searchsuite_attr_dropdown,*+html #searchsuite_cat_dropdown{
    margin-top: 36px; 
}
#searchsuite_attr_dropdown,#searchsuite_cat_dropdown{
    display: none;
    position: absolute;
    right: 0;
    margin-top: 11px;  
    z-index: 9999;
}
#searchsuite_attr_dropdown li,#searchsuite_cat_dropdown li{
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    cursor: pointer;
}
#searchsuite_attr_dropdown li:last-child,#searchsuite_cat_dropdown li:last-child{
    border-bottom: 1px solid #ccc;
}
#searchsuite_attr_dropdown li a,#searchsuite_cat_dropdown li a{
    width: 100%;
    white-space: nowrap;
}
#searchsuite_attr_dropdown li a:hover,.searchsuite-change:hover,#searchsuite_attr_dropdown li a:focus,
#searchsuite_attr_change:focus,#searchsuite_cat_dropdown li a:hover,#searchsuite_cat_dropdown li a:focus,
#searchsuite_cat_change:focus{
    color: #ff6600;
    text-decoration: none;
}
.searchsuite-submit:focus{
    border-color: #ff6600;
}
#searchsuite_attr_dropdown:before,#searchsuite_cat_dropdown:before{
    top: -10px;
    border-left: 10px solid rgba(1, 187, 187, 0);
    border-right: 10px solid rgba(1, 187, 187, 0);
    border-bottom: 10px solid #fff;
    right: 15px;
}
#searchsuite_attr_dropdown:after,#searchsuite_cat_dropdown:after{
    top: -9px;
    border-left: 10px solid rgba(238, 238, 238, 0);
    border-right: 10px solid rgba(238, 238, 238, 0);
    border-bottom: 10px solid #fff;
    right: 15px;
}
#searchsuite_attr_dropdown:before,#searchsuite_attr_dropdown:after,#searchsuite_cat_dropdown:before,
#searchsuite_cat_dropdown:after{
    content: "";
    position: absolute;
}
.searchsuite-synonym-label,.searchsuite-related-label{
    color: #FF2F00;
}
.highlight{
    color: #FF2F00;
}
.searchsuite-cmspage,.searchsuite-category{
    margin-bottom: 10px;
    margin-top: 5px;
}
.searchsuite-category-title a img{
    float: left;
    margin: 2px;
}
.searchsuite-category li{
    overflow: auto;
}
.header .form-search .search-autocomplete {
    z-index: 999;
    left: 0 !important;
    top: 30px !important;
}
#header-search .searchsuite-form-search{
    position: relative;
}

/**
 * MageWorx
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MageWorx EULA that is bundled with
 * this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.mageworx.com/LICENSE-1.0.html
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade the extension
 * to newer versions in the future. If you wish to customize the extension
 * for your needs please refer to http://www.mageworx.com/ for more information
 *
 * @category   MageWorx
 * @package    MageWorx_SearchSuite
 * @copyright  Copyright (c) 2014 MageWorx (http://www.mageworx.com/)
 * @license    http://www.mageworx.com/LICENSE-1.0.html
 */

/**
 * Search Suite extension
 *
 * @category   MageWorx
 * @package    MageWorx_SearchSuiteAutocomplete
 * @author     MageWorx Dev Team
 */
a:focus { outline: none; }
.highlight {
    color: #FF2F00 !important;
    font-weight: bold;
}
.reset-button{
    position: absolute;
    border: 0px;
    width: 16px;
    background-color: transparent;
    padding: 0px 6px 6px 2px;
    z-index: 100;
    color: #DE5400;
    font-size: 10pt;
    cursor: pointer;
    left: 0;
    vertical-align: middle;
}
@-moz-document url-prefix() 
{
    .reset-button{margin-top: 0px;}
}
input.spinner, input.spinner:focus {
    background-repeat: no-repeat !important;
    background-position: right center;
    background-image: url(https://www.thecleanbedroom.com/skin/frontend/rwd/cleanbedroom/images/mageworx/searchsuiteautocomplete/spinner.gif) !important;
}
.s_separator{
    border-top: 1px solid #AAA;
}
.s_separator:first-child{
    border-top: none;
}
#search_autocomplete{
    top: 32px !important;
    z-index: 999;
    position: absolute;
}
.searchautocomplete-container{
    float: right;
    width: 0px;
    margin-top: 6px;
}
.search-container .span_item{
    padding-left: 4px;
}
.searchautocomplete-search{
    width: 430px;
    font: 11px Arial,Helvetica,sans-serif;
    padding-top: 10px;
    background: #FAFAFA;
    display: block;
    font-size: 11px;
    position: relative;
    padding: 0;
    background-color: #eee;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.searchautocomplete-search:before{
    content: "";
    position: absolute;
    top: -10px;
    border-left: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(255, 255, 255, 0);
    border-bottom: 10px solid #fafafa;
    right: 15px;
}
.search-header {
    margin: 0;
    text-align: left;
    padding: 0px 0px 0px 5px;
    height: 25px;   
    line-height: 25px;
    font-weight: bold;
    color: #999999;
    font-size: 15px;
    letter-spacing: 0px;
    clear: both;
}
.s_item,.s_category,.s_suggest{
    padding-left: 10px;
    padding-right: 5px;  
    padding-top: 5px;
}
.s_item:hover{
    background-color: #eee;
    cursor:default;
}
.s_item a:link,
.s_item a:hover,
.s_item a:visited {    
    color: #2F2F2F;
    text-decoration: none;
}
.s_icon{
    float: left;
    height: auto;
    display: table-cell;
    margin-right: 5px;
}
.s_details{
    text-align: left;
    display: table-cell;
    width: 420px;
}
.s_item:after{
    display: block;
    clear: both;
    height: 0px;
    content: '';
}
.s_description{
    font-size: 11px;
}
.s_item_name{
    font-weight: bold;
    height: auto !important;
    min-height: 15px;
    height: 15px;
}
.s_item_name > span{
    float: left;
}
.s_review{
    clear: both;
}
.s_ratings {
    font-size: 11px;
    line-height: 1.25;
    margin: 7px 0;
    width: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

.s_item_name .a_review {
    color: #1E7EC8 !important;
}
.s_sku {
    font-size: 10px;
}
.searchautocomplete-search .s_button button.button span {
    background: none repeat scroll 0 0 #F18200;
    /*    border: 1px solid #DE5400;*/
    color: white;
    display: block;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}
.s_category {
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}
.s_category a{
    color: #2F2F2F;
    text-decoration: none;
}
.resultbox-b {
    height: 16px;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    padding-right: 5px;
}
.resultbox-b a,
.resultbox-b a:link, 
.resultbox-b a:visited, 
.resultbox-b a:hover {
    color: #999999;
    text-decoration: none;
}
.search-results{
    text-align: left;
    /*border-bottom: 1px #ccc dotted;*/
}
.search-results:first-child{

}
.resultbox-b,.search-results{
    background-color: #fff;
    display: block;
}
.search-container-suggest div{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/*fix magento style*/
#searchautocomplete-search-1 ul{
    background: none;
    border: 0;
}
#searchautocomplete-search-1 ul li{
    padding: 0;
    border: 0;
}
/*#searchautocomplete-search-1 button,#searchautocomplete-search-1 button span{
    background-image: none;
}*/
/**/
#search::-ms-clear {
    display: none !important;
}

.giftcard-fieldset textarea {width: 100%; height: 100px;}
.giftcard-fieldset label em {color: #EB340A; margin-right: 2px;}
.giftcard-fieldset .field {margin-top: 6px;}
.giftcard-fieldset .email-date input {width: 100px;}

.giftcard-info .field-label {margin-top: 6px;}

/*onepage checkout*/
.giftcard-payment-method { border-bottom: 1px solid #e4e4e4; }
.giftcard-payment-method .buttons-set { border-top: none; padding-top: 6px; padding-bottom: 3px; }
#readmore-container {
	position: relative;
	z-index: 2;
}
#readmore-container.lesscontent {
	overflow:hidden;
	height: 90px
}
#readmore-container.noimage.lesscontent {
	overflow:hidden;
	height: 80px
}
#readmore-btn {
	cursor: pointer;
	color: #9cb6b3;
	float: right;
}
#readmore-btn-container {
	width: 100%;
	display: block;
	position: relative;
	z-index: 99;
	padding-top: 5px;
}
#readmore-btn-container.lesscontent:before {
	content: "";
	display: block;
	width: 100%;
	height: 25px;
	margin-top: -25px;
	margin-bottom: 5px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left bottom left top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
#amfile-list .file
{
    display: block;
    height: 26px;
}

#amfile-list img
{
    max-width: 24px;
    max-height: 24px;
    float: left;
}

#amfile-list span
{
    margin-left: 29px;
    display: block;
}


.product-options {line-height:100%;}
.product-options .input-box::after {content: none}


/* OptionExtended Picker Image*/
.oc-picker-image {border:1px solid white; margin-right:3px; display:inline;}
.oc-picker-image.oc-selected {border:1px solid black; margin-right:3px; display:inline;}

.oc-image-cell {float:left; text-align:center;}
.oc-image-cell span {font-size:10px;}


/* OptionExtended Above */
.product-options dd.oc-above {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-above img.oc-image {display:block; float:left; width:100px; height:100px; margin:0 8px 8px 0;}
.product-options dd.oc-above select {width: 100%; margin:0 0 10px 0;}
.product-options dd.oc-above ul.options-list {margin:0 0 10px 0;}
.product-options dd.oc-above .description {display:block; width: auto; font-size:10px; margin:0 0 8px 0; font-weight:normal; font-style:normal; }
.product-options dd.oc-above .spacer{height:1px; clear:both;}


/* OptionExtended Above Checkbox */
.product-options dd.oc-above-checkbox {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-above-checkbox img.oc-image {display:inline; width:100px; height:100px; margin:0 8px 8px 0;}
.product-options dd.oc-above-checkbox ul.options-list {margin:0 0 10px 0;}
.product-options dd.oc-above-checkbox .oc-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin-left:5px;}


/* OptionExtended Before Select*/
.product-options dd.oc-before-select {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-before-select .oc-table {display:table; width:100%;}
.product-options dd.oc-before-select .oc-table-cell-img {display:table-cell; width:100px; vertical-align:top;}
.product-options dd.oc-before-select .oc-table-cell {display:table-cell; vertical-align:top;}
.product-options dd.oc-before-select img.oc-image {width:100px; height:100px; vertical-align:middle; margin:0 10px 10px 0;}
.product-options dd.oc-before-select select {width: 100%; margin-top:45px;}
.product-options dd.oc-before-select .oc-tooltip-icon {display:block; margin:8px 100px 0 0;}
.product-options dd.oc-before-select .spacer{height:1px; clear:both;}

/* OptionExtended Before Radio*/
.product-options dd.oc-before-radio {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-before-radio .oc-table {display:table; width:100%;}
.product-options dd.oc-before-radio .oc-table-cell-img {display:table-cell; width:100px; vertical-align:top;}
.product-options dd.oc-before-radio .oc-table-cell {display:table-cell; vertical-align:top;}
.product-options dd.oc-before-radio img.oc-image {width:100px; height:100px; vertical-align:middle; margin:0 10px 10px 0;}
.product-options dd.oc-before-radio ul.options-list {max-width:100%; max-width:450px; list-style-type:none; margin:0 0 10px 0;}
.product-options dd.oc-before-radio ul.options-list label {width:100%; max-width:60%;}
.product-options dd.oc-before-radio .oc-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin-left:5px;}


/* OptionExtended Below */
.product-options dd.oc-below {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-below img.oc-image {display:block; float:left; width:100px; height:100px; margin:0 10px 4px 0;}
.product-options dd.oc-below div select {width: 100%; margin:4px 0 10px 0;}
.product-options dd.oc-below ul.options-list {margin:0 0 10px 0;}
.product-options dd.oc-below .description {display:block; width: auto; font-size:10px; margin:0 0 5px 0; font-weight:normal; font-style:normal; }
.product-options dd.oc-below .spacer{height:1px; clear:both;}

/* OptionExtended Below Checkbox */
.product-options dd.oc-below-checkbox {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-below-checkbox img.oc-image {display:inline; width:100px; height:100px; margin:0 8px 8px 0;}
.product-options dd.oc-below-checkbox ul.options-list {margin:0 0 10px 0;}
.product-options dd.oc-below-checkbox select {margin:0 0 10px 0;}
.product-options dd.oc-below-checkbox .oc-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin-left:5px;}

/* OptionExtended Swap Select*/
.product-options dd.oc-swap-select {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-swap-select select {width: 100%; margin:8px 0 10px 0;}
.product-options dd.oc-swap-select .description {font-size:10px; margin:0 0 8px 0; font-weight:normal; font-style:normal; }

/* OptionExtended Swap Radio */
.product-options dd.oc-swap-radio {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-swap-radio ul.options-list {margin:0;}
.product-options dd.oc-swap-radio .oc-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin-left:5px;}


/* OptionExtended Picker */
.product-options dd.oc-picker {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-picker select {display: block; width: 100%; margin:5px 0 10px 0;}
.product-options dd.oc-picker .description {font-size:10px; margin:0 0 8px 0; font-weight:normal; font-style:normal; }
.product-options dd.oc-picker .spacer{height:1px; clear:both;}
img.oc-hover-image {width: 150px; height: 150px;}


/* OptionExtended Note */
.product-options dd.oc-note {font-size:12px;}


/* OptionExtended Grid */
.product-options dd.oc-grid {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-grid ul.options-list {list-style-type:none; padding:0; margin:0;}
.product-options dd.oc-grid ul.options-list li {width:129px; height:145px; float:left; margin-right:10px; line-height:normal; padding:0}
.product-options dd.oc-grid ul.options-list input.radio { float:none; margin:45px 0 0 7px;}
.product-options dd.oc-grid ul.options-list input.checkbox { float:none; margin:45px 0 0 7px;}
.product-options dd.oc-grid ul.options-list .label {display:block; width: 100px; text-align:center; margin:0;}
.product-options dd.oc-grid ul.options-list label {min-width: 0; padding:0; background: none; font-weight:normal; }
.product-options dd.oc-grid ul.options-list label:hover {background: none;}
.product-options dd.oc-grid .oc-image {display:block; float:left; width:100px; height:100px; margin:0 0 5px 0;}
.product-options dd.oc-grid ul.validation-failed { padding:10px 0 0 0; }
.product-options dd.oc-grid .spacer{height:1px; clear:both;}
.product-options dd.oc-grid .oc-tooltip-icon {display:inline-block; line-height: inherit; vertical-align:middle; margin:10px 0 0 5px;}


/* OptionExtended List */
.product-options dd.oc-list {max-width:590px; padding:0; margin:8px 0 20px 0; border:none;}
.product-options dd.oc-list ul.options-list {list-style-type:none; padding:0; margin:0; }
.product-options dd.oc-list ul.options-list li {margin-bottom:10px; border:1px solid #e4e4e4; line-height:normal; padding:10px 10px 10px 10px; }
.product-options dd.oc-list img {display:block; float:left; width:100px; height:100px; margin:0 10px 0 0;}
.product-options dd.oc-list li.none img {display:block; width:100px; height:15px; margin:0 10px 0 0;}
.product-options dd.oc-list ul.options-list input.radio {position:static; float:right; margin:0;}
.product-options dd.oc-list ul.options-list input.checkbox {position:static; float:right; margin:0;}
.product-options dd.oc-list ul.validation-failed { padding:0; }
.product-options dd.oc-list span.content {display:block; width:auto; padding: 0 0 0 0;}
.product-options dd.oc-list span.content label {display:block; width:auto; background: none; padding:0; margin:0;}
.product-options dd.oc-list span.content label:hover {background: none;}
.product-options dd.oc-list .price-notice {padding:0;}
.product-options dd.oc-list .description {min-height:60px; font-size:10px; margin:5px 0 5px 0;}
.product-options dd.oc-list .spacer{height: 1px; clear: both;}







/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#oxcolorbox, #oxcboxOverlay, #oxcboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#oxcboxWrapper {max-width:none;}
#oxcboxOverlay{position:fixed; width:100%; height:100%;}
#oxcboxMiddleLeft, #oxcboxBottomLeft{clear:left;}
#oxcboxContent{position:relative;}
#oxcboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#oxcboxTitle{margin:0;}
#oxcboxLoadingOverlay, #oxcboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#oxcboxPrevious, #oxcboxNext, #oxcboxClose, #oxcboxSlideshow{cursor:pointer;}
.oxcboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.oxcboxIframe{width:100%; height:100%; display:block; border:0;}
#oxcolorbox, #oxcboxContent, #oxcboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#oxcboxOverlay{background:#fff;}
#oxcolorbox{outline:0;font: 12px Tahoma, Arial,sans-serif;}
    #oxcboxTopLeft{width:25px; height:25px; background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/border1.png) no-repeat 0 0;}
    #oxcboxTopCenter{height:25px; background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/border1.png) repeat-x 0 -50px;}
    #oxcboxTopRight{width:25px; height:25px; background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/border1.png) no-repeat -25px 0;}
    #oxcboxBottomLeft{width:25px; height:25px; background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/border1.png) no-repeat 0 -25px;}
    #oxcboxBottomCenter{height:25px; background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/border1.png) repeat-x 0 -75px;}
    #oxcboxBottomRight{width:25px; height:25px; background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/border1.png) no-repeat -25px -25px;}
    #oxcboxMiddleLeft{width:25px; background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/border2.png) repeat-y 0 0;}
    #oxcboxMiddleRight{width:25px; background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/border2.png) repeat-y -25px 0;}
    #oxcboxContent{background:#fff; overflow:hidden;}
        .oxcboxIframe{background:#fff;}
        #oxcboxError{padding:50px; border:1px solid #ccc;}
        #oxcboxLoadedContent{margin-bottom:20px;}
        #oxcboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #oxcboxCurrent{position:absolute; bottom:0px; left:100px; color:#999;}
        #oxcboxLoadingOverlay{background:#fff url(https://www.thecleanbedroom.com/skin/frontend/base/default/pektsekye/optionconfigurable/images/loading.gif) no-repeat 5px 5px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #oxcboxPrevious, #oxcboxNext, #oxcboxSlideshow, #oxcboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #oxcboxPrevious:active, #oxcboxNext:active, #oxcboxSlideshow:active, #oxcboxClose:active {outline:0;}

        #oxcboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        #oxcboxPrevious{position:absolute; bottom:0px; left:0; color:#444;}
        #oxcboxNext{position:absolute; bottom:0px; left:63px; color:#444;}
        #oxcboxClose{position:absolute; bottom:0; right:0; display:block; color:#444;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.oxcboxIE #oxcboxTopLeft,
.oxcboxIE #oxcboxTopCenter,
.oxcboxIE #oxcboxTopRight,
.oxcboxIE #oxcboxBottomLeft,
.oxcboxIE #oxcboxBottomCenter,
.oxcboxIE #oxcboxBottomRight,
.oxcboxIE #oxcboxMiddleLeft,
.oxcboxIE #oxcboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	border-radius: 5px; 
	border: 2px solid #000;
	background: #4c4c4c;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
	overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}








/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0; 
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.tooltipster-shadow {
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #2c2c2c;
}
.tooltipster-shadow .tooltipster-content {
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 8px 10px;
}
