div.amshopby-column {
    float: left;
    width: 105px;
    overflow: hidden;
}

select.amshopby-select {
    width:170px;
}

.amshopby-logo{
padding: 0pt 10px 10px 0pt; float: left;
}

.amshopby-featured {
    padding: 5px 5px 5px 5px; 
}

.amshopby-link{
    float:left;
    padding-left:5px; 
    padding-top:5px;
}

.amshopby-clearer {
	display:block; 
	clear:both; 
	overflow: hidden;
}
div.block-layered-nav dd a {padding:0px 5px 0px 0px; display:block; float: left;}  
div.block-layered-nav dd a.amshopby-attr, div.block-layered-nav dd a.amshopby-attr:hover {padding-left:15px; background-image:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left center;}
div.block-layered-nav dd a.amshopby-attr::before, div.block-layered-nav dd a.amshopby-attr-selected::before {border-style: none !important;}
div.block-layered-nav dd a.amshopby-attr-selected {font-weight: bold; padding-left:15px; background-image:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left center;}
div.block-layered-nav dd a.amshopby-attr-inactive {pointer-events: none; color: #666666}
div.block-layered-nav dd a img {/* padding: 0px 4px 5px;*/ float:left;}

div.block-layered-nav dd li.amshopby-cat-level-2 {padding-left:10px;}
div.block-layered-nav dd li.amshopby-cat-level-3 {padding-left:20px;}

div.block-layered-nav dd a.amshopby-cat-selected {font-weight: bold;
color:black; text-decoration: none; cursor:text;}

div.block-layered-nav li.amshopby-cat-multi a {
    padding-left:15px;
    background-image:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-cb1.gif); background-repeat: no-repeat; background-position: left center;
}

div.block-layered-nav li.amshopby-cat-multiselected a {
    font-weight: bold;
    background-image:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-cb2.gif); background-repeat: no-repeat; background-position: left center;
}

div.block-layered-nav dd li span.amshopby-plusminus {float:left;
display:block; width:15px; height:15px; cursor:pointer;
background:transparent url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-plus.gif)  no-repeat;}
div.block-layered-nav dd li span.minus {background:transparent
url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-minus.gif) no-repeat;}
div.block-layered-nav dd li:after {display:block; content:".";
clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }



div.block-layered-nav.amshopby-collapse-enabled dl dt {
     cursor:pointer;
     padding-left:15px;
     background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-expanded.gif) center left no-repeat;
}
div.block-layered-nav.amshopby-collapse-enabled dl dt::after {
    border-style: none !important;
}
div.block-layered-nav.amshopby-collapse-enabled dl dt.amshopby-collapsed {background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-collapsed.gif) center left no-repeat;}
.main .col-left div.block-layered-nav.amshopby-collapse-enabled dl dt{background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-expanded.gif) center left no-repeat;}
.main .col-left div.block-layered-nav.amshopby-collapse-enabled dl dt.amshopby-collapsed{background:url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-collapsed.gif) center left no-repeat;}

.main .col-main div.block-layered-nav.amshopby-collapse-enabled .toggle-content dl dt{background:none;}
.main .col-main div.block-layered-nav.amshopby-collapse-enabled .toggle-content dl dt.amshopby-collapsed{background:none}

.main .col-main div.block-layered-nav.amshopby-collapse-enabled .toggle-content dl dd .no-display {
    display: block!important;
}

div.block-layered-nav div.amshopby-slider {
	 position:relative; margin:10px 4px 5px 4px; z-index:9; height:18px;  background: url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-slider-bg.gif) repeat-x 0 50%; cursor:pointer;
}
div.block-layered-nav div.amshopby-slider div.handle {margin-left:-4px; width:8px; top:3px; height:14px; background: transparent url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-hadle.png) no-repeat; position: absolute; cursor:move; z-index: 2;}

/*
 * Slider labels
 */
.amshopby-slider-price {
	color: #798794;
}
.amshopby-slider-price-from {
	float: left;
    
}
.amshopby-slider-price-to {
	float: right;
}

.amshopby-slider-handle-right {
	position: absolute;
	top: 14px;
	right: 0px;
}

.amshopby-slider-handle-left {
	position: absolute;
	top: 14px;
	left: 0px;
}

.amshopby-tooltip {
    padding:2px 5px;
    background:#FEC;
    border:1px solid #FAA819;
    color:#1F5070;
    text-align:left;
    width:200px;
    position:absolute;
}

.amshopby-slider-price-range 
{
	text-align: center;
	font-size: 0.9em;
}

.amshopby-tooltip-img {
    cursor:help;
    display: inline;
}

div.block-layered-nav, div.amshopby-page-container, div.amshopby-filters-top {
    position: relative;
}
div.amshopby-overlay {
    background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity = 50);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}
div.amshopby-overlay img {
    top: 100px;
    left: 45%;
    display: block;
    position: absolute;
}

div.amshopby-overlay div {
    margin: 0 auto;
    display: block;
	width: 300px;
	height: 200px;
	background:  url('https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-overlay.gif') 50% 50% no-repeat;
}

/*
 * Advanced Categories
 */
.amshopby-advanced li {
	clear: both;
}
.amshopby-advanced li.level1 {
	padding-left: 20px;
}
.amshopby-advanced li.level2 {
	padding-left: 30px;
}
.amshopby-advanced li.level3 {
	padding-left: 40px;
}
.amshopby-advanced li.level4 {
	padding-left: 50px;
}


.amshopby-advanced li.active > a {
	font-weight: bold;
}

/*
 * Slider Bar
 */
.amshopby-slider-bar {
	position:absolute; 
	background: #999; 
	height: 6px; 
	top: 6px; 
	z-index: 1;  
}

/*
 * Subcategories block
 */
.amshopby-subcategory-image {
	overflow: auto; 
}

.btn-remove-inline { background-image: url('https://www.thecleanbedroom.com/skin/frontend/base/default/images/am_btn_remove.gif'); background-repeat: no-repeat; width:13px; height:12px; margin-left: 4px; }
.btn-remove-inline:hover { /* background-position: center bottom; */ }
.amshopby-hightlighted { background: yellow;}

.btn-remove-inline img {display: inline;}

div.block-layered-nav div.amshopby-slider div.handle.active { z-index: 3; }

.amshopby-slider-ui { background: url(https://www.thecleanbedroom.com/skin/frontend/base/default/images/amshopby-slider-bg.gif) repeat-x 0 50%; margin: 10px .4em; }
.amshopby-slider-ui .ui-slider-handle { background-color: #f18200; border: 1px solid #de5400; box-sizing: border-box; outline: none; }
.amshopby-slider-ui .ui-slider-range { background-color: #999999; }

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.ui-slider { cursor: pointer; position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 0.8em; height: 1.2em; cursor: pointer; -ms-touch-action: none; touch-action: none; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range { filter: inherit; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.2em; margin-left: -.4em; }
.ui-slider-horizontal .ui-slider-range { top: 0.2em; height: 8px; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

.amshopby-narrow-by-list table td { vertical-align: top; }

input[name^="amshopby"][id$="from"].input-text, input[name^="amshopby"][id$="to"].input-text{
    width: auto;
}

.amshopby-item-top{
    max-width: 225px;
    min-width: 180px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.amshopby-filters-top .block-content ol{
    max-width: 250px;
}

.amshopby-item-top div.amshopby-column {
    width: auto;
}

.no-display-current, .no-display{
    display: none;
}

.current .no-display-current, dd.current td.no-display{
    display: block;
}

@media only screen and (max-width: 770px) {
    dl#narrow-by-list,
    dl#narrow-by-list2 {
        padding: 0px;
    }
}
/**
 * MageWorx
 * Search Suite
 *
 * @category   MageWorx
 * @package    MageWorx_SearchSuite
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */
#search_mini_form .searchsuite-form-search{
    background-image: none;
    width: auto;
    height: auto;
}
#search_mini_form .searchsuite-form-search,#searchsuite_attr_dropdown,#searchsuite_cat_dropdown{
    border: 0;
    background-color: #eee;
    padding: 0;
}
.searchsuite-input,.searchsuite-select,.searchsuite-submit{
    border: 1px solid #ccc;
    background-color: #fff;
    float: left;
    position: relative;
}
.searchsuite-input,.searchsuite-select,.searchsuite-submit,.searchsuite-select div,.searchsuite-form-search #search{
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.searchsuite-input,.searchsuite-select,.searchsuite-submit,.searchsuite-select div,.searchsuite-form-search #search,.reset-button{
    height: 27px;
    vertical-align: middle;
    line-height: 27px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.searchsuite-input,.searchsuite-form-search #search{
    width: 200px;
    border-right: 0;
    color: #444;
    padding-left: 5px;
    padding-right: 10px;
}
.searchsuite-form-search .searchsuite-default-text{
    color: #ccc;
}
.searchsuite-select{
    border-left: 0;
    border-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    color: #777;
    font: 12px/1.55 Arial, Helvetica, sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.searchsuite-submit{
    width: 65px;
    border-color: #999;
    color: #fff;
    box-shadow: 0 1px 5px rgb(240, 99, 0) inset;
    -moz-box-shadow: 0 1px 5px rgb(240, 99, 0) inset;
    -webkit-box-shadow: 0 1px 5px rgb(240, 99, 0) inset;
    -o-box-shadow: 0 1px 5px rgb(240, 99, 0) inset;
    background: rgb(240, 99, 0);
    background: -moz-linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    background: -webkit-linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    background: -o-linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    background: -ms-linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    background: linear-gradient(0deg, rgb(240, 99, 0) 0%, rgb(240, 187, 0) 81%);
    font-size: 13px;
}
.searchsuite-submit:hover{
    background: -moz-linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
    background: -webkit-linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
    background: -o-linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
    background: -ms-linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
    background: linear-gradient(0deg, rgb(240, 119, 7) 0%, rgb(299, 232, 30) 81%);
}
.searchsuite-submit:after{
    clear: both;
}
.searchsuite-change,.searchsuite-current-value {
    line-height: 27px;
    vertical-align: middle;
}
.searchsuite-change{
    font-size: 7px; 
    padding: 2px;
}
.searchsuite-dropdown li:hover{

}
.searchsuite-dropdown li a, .searchsuite-change{
    color: #777;
    text-decoration: none;
    cursor: pointer;
}
.searchsuite-current-value{
    border-left: 1px #ccc dotted;
    padding-left: 5px;
}
*+html #searchsuite_attr_dropdown,*+html #searchsuite_cat_dropdown{
    margin-top: 36px; 
}
#searchsuite_attr_dropdown,#searchsuite_cat_dropdown{
    display: none;
    position: absolute;
    right: 0;
    margin-top: 11px;  
    z-index: 9999;
}
#searchsuite_attr_dropdown li,#searchsuite_cat_dropdown li{
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    cursor: pointer;
}
#searchsuite_attr_dropdown li:last-child,#searchsuite_cat_dropdown li:last-child{
    border-bottom: 1px solid #ccc;
}
#searchsuite_attr_dropdown li a,#searchsuite_cat_dropdown li a{
    width: 100%;
    white-space: nowrap;
}
#searchsuite_attr_dropdown li a:hover,.searchsuite-change:hover,#searchsuite_attr_dropdown li a:focus,
#searchsuite_attr_change:focus,#searchsuite_cat_dropdown li a:hover,#searchsuite_cat_dropdown li a:focus,
#searchsuite_cat_change:focus{
    color: #ff6600;
    text-decoration: none;
}
.searchsuite-submit:focus{
    border-color: #ff6600;
}
#searchsuite_attr_dropdown:before,#searchsuite_cat_dropdown:before{
    top: -10px;
    border-left: 10px solid rgba(1, 187, 187, 0);
    border-right: 10px solid rgba(1, 187, 187, 0);
    border-bottom: 10px solid #fff;
    right: 15px;
}
#searchsuite_attr_dropdown:after,#searchsuite_cat_dropdown:after{
    top: -9px;
    border-left: 10px solid rgba(238, 238, 238, 0);
    border-right: 10px solid rgba(238, 238, 238, 0);
    border-bottom: 10px solid #fff;
    right: 15px;
}
#searchsuite_attr_dropdown:before,#searchsuite_attr_dropdown:after,#searchsuite_cat_dropdown:before,
#searchsuite_cat_dropdown:after{
    content: "";
    position: absolute;
}
.searchsuite-synonym-label,.searchsuite-related-label{
    color: #FF2F00;
}
.highlight{
    color: #FF2F00;
}
.searchsuite-cmspage,.searchsuite-category{
    margin-bottom: 10px;
    margin-top: 5px;
}
.searchsuite-category-title a img{
    float: left;
    margin: 2px;
}
.searchsuite-category li{
    overflow: auto;
}
.header .form-search .search-autocomplete {
    z-index: 999;
    left: 0 !important;
    top: 30px !important;
}
#header-search .searchsuite-form-search{
    position: relative;
}

/**
 * MageWorx
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MageWorx EULA that is bundled with
 * this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.mageworx.com/LICENSE-1.0.html
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade the extension
 * to newer versions in the future. If you wish to customize the extension
 * for your needs please refer to http://www.mageworx.com/ for more information
 *
 * @category   MageWorx
 * @package    MageWorx_SearchSuite
 * @copyright  Copyright (c) 2014 MageWorx (http://www.mageworx.com/)
 * @license    http://www.mageworx.com/LICENSE-1.0.html
 */

/**
 * Search Suite extension
 *
 * @category   MageWorx
 * @package    MageWorx_SearchSuiteAutocomplete
 * @author     MageWorx Dev Team
 */
a:focus { outline: none; }
.highlight {
    color: #FF2F00 !important;
    font-weight: bold;
}
.reset-button{
    position: absolute;
    border: 0px;
    width: 16px;
    background-color: transparent;
    padding: 0px 6px 6px 2px;
    z-index: 100;
    color: #DE5400;
    font-size: 10pt;
    cursor: pointer;
    left: 0;
    vertical-align: middle;
}
@-moz-document url-prefix() 
{
    .reset-button{margin-top: 0px;}
}
input.spinner, input.spinner:focus {
    background-repeat: no-repeat !important;
    background-position: right center;
    background-image: url(https://www.thecleanbedroom.com/skin/frontend/rwd/cleanbedroom/images/mageworx/searchsuiteautocomplete/spinner.gif) !important;
}
.s_separator{
    border-top: 1px solid #AAA;
}
.s_separator:first-child{
    border-top: none;
}
#search_autocomplete{
    top: 32px !important;
    z-index: 999;
    position: absolute;
}
.searchautocomplete-container{
    float: right;
    width: 0px;
    margin-top: 6px;
}
.search-container .span_item{
    padding-left: 4px;
}
.searchautocomplete-search{
    width: 430px;
    font: 11px Arial,Helvetica,sans-serif;
    padding-top: 10px;
    background: #FAFAFA;
    display: block;
    font-size: 11px;
    position: relative;
    padding: 0;
    background-color: #eee;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.searchautocomplete-search:before{
    content: "";
    position: absolute;
    top: -10px;
    border-left: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(255, 255, 255, 0);
    border-bottom: 10px solid #fafafa;
    right: 15px;
}
.search-header {
    margin: 0;
    text-align: left;
    padding: 0px 0px 0px 5px;
    height: 25px;   
    line-height: 25px;
    font-weight: bold;
    color: #999999;
    font-size: 15px;
    letter-spacing: 0px;
    clear: both;
}
.s_item,.s_category,.s_suggest{
    padding-left: 10px;
    padding-right: 5px;  
    padding-top: 5px;
}
.s_item:hover{
    background-color: #eee;
    cursor:default;
}
.s_item a:link,
.s_item a:hover,
.s_item a:visited {    
    color: #2F2F2F;
    text-decoration: none;
}
.s_icon{
    float: left;
    height: auto;
    display: table-cell;
    margin-right: 5px;
}
.s_details{
    text-align: left;
    display: table-cell;
    width: 420px;
}
.s_item:after{
    display: block;
    clear: both;
    height: 0px;
    content: '';
}
.s_description{
    font-size: 11px;
}
.s_item_name{
    font-weight: bold;
    height: auto !important;
    min-height: 15px;
    height: 15px;
}
.s_item_name > span{
    float: left;
}
.s_review{
    clear: both;
}
.s_ratings {
    font-size: 11px;
    line-height: 1.25;
    margin: 7px 0;
    width: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}

.s_item_name .a_review {
    color: #1E7EC8 !important;
}
.s_sku {
    font-size: 10px;
}
.searchautocomplete-search .s_button button.button span {
    background: none repeat scroll 0 0 #F18200;
    /*    border: 1px solid #DE5400;*/
    color: white;
    display: block;
    font: bold 12px/19px Arial,Helvetica,sans-serif;
    height: 19px;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
}
.s_category {
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}
.s_category a{
    color: #2F2F2F;
    text-decoration: none;
}
.resultbox-b {
    height: 16px;
    text-align: right;
    font-weight: bold;
    font-size: 13px;
    padding-right: 5px;
}
.resultbox-b a,
.resultbox-b a:link, 
.resultbox-b a:visited, 
.resultbox-b a:hover {
    color: #999999;
    text-decoration: none;
}
.search-results{
    text-align: left;
    /*border-bottom: 1px #ccc dotted;*/
}
.search-results:first-child{

}
.resultbox-b,.search-results{
    background-color: #fff;
    display: block;
}
.search-container-suggest div{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/*fix magento style*/
#searchautocomplete-search-1 ul{
    background: none;
    border: 0;
}
#searchautocomplete-search-1 ul li{
    padding: 0;
    border: 0;
}
/*#searchautocomplete-search-1 button,#searchautocomplete-search-1 button span{
    background-image: none;
}*/
/**/
#search::-ms-clear {
    display: none !important;
}

.giftcard-fieldset textarea {width: 100%; height: 100px;}
.giftcard-fieldset label em {color: #EB340A; margin-right: 2px;}
.giftcard-fieldset .field {margin-top: 6px;}
.giftcard-fieldset .email-date input {width: 100px;}

.giftcard-info .field-label {margin-top: 6px;}

/*onepage checkout*/
.giftcard-payment-method { border-bottom: 1px solid #e4e4e4; }
.giftcard-payment-method .buttons-set { border-top: none; padding-top: 6px; padding-bottom: 3px; }
#readmore-container {
	position: relative;
	z-index: 2;
}
#readmore-container.lesscontent {
	overflow:hidden;
	height: 90px
}
#readmore-container.noimage.lesscontent {
	overflow:hidden;
	height: 80px
}
#readmore-btn {
	cursor: pointer;
	color: #9cb6b3;
	float: right;
}
#readmore-btn-container {
	width: 100%;
	display: block;
	position: relative;
	z-index: 99;
	padding-top: 5px;
}
#readmore-btn-container.lesscontent:before {
	content: "";
	display: block;
	width: 100%;
	height: 25px;
	margin-top: -25px;
	margin-bottom: 5px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left bottom left top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
/**
 * MageWorx
 * MageWorx XSitemap Extension
 * 
 * @category   MageWorx
 * @package    MageWorx_XSitemap
 * @copyright  Copyright (c) 2015 MageWorx (http://www.mageworx.com/)
 */

.xsitemap h3 { font-size: 1.7em; font-weight: normal; }
.xsitemap-stores { margin-bottom: 10px; }
.xsitemap ul.stores { height: 20px; }
.xsitemap ul.stores li { float: left; margin-right: 20px; font-size: 1.2em; font-weight: bold; }
.xsitemap-categories { float: left; width: 58%; }
.xsitemap-pages { float: left; width: 38%; }
.xsitemap li li { padding-left: 15px; }
.xsitemap ul.categories { }
.xsitemap ul.products { margin-bottom: 5px; }
.xsitemap li.category { font-size: 1em; }
.xsitemap li.product { font-size: 0.8em; }
.xsitemap li.level-0 { font-weight: bold; font-size: 1.1em; }
.xsitemap li.level-1 { font-weight: normal; font-size: 1em; }
.xsitemap li.page-url, .xsitemap li.link { font-size: 1em; font-weight: bold; }

